<div class="card course-item mb-4 shadow-lg" [appCourseHighlighter]="courseItem.date">
    <div class="card-body" [ngClass]="{'top-rated': courseItem.isTopRated}">
        <h3 class="card-title"><span class="top-rated-star"><i class="fas fa-star"></i></span> {{ courseItem.name | uppercase}}</h3>
        <p class="authors-list">
            <span *ngFor="let author of courseItem.authors; let last = last" class="author-info">
                  {{author.name}}<span *ngIf="!last">, </span>
                </span>
        </p>
        <p class="card-text">{{ courseItem.description }}</p>


        <div class="d-flex justify-content-between align-items-center">
            <div class="course-item-meta">
                <span class="meta-item">
                  <span class="meta-item-icon"><i class="far fa-calendar-alt"></i></span> {{ courseItem.date | date:'shortDate' }}
                </span>
                <span class="meta-item">
                  <span class="meta-item-icon"><i class="far meta-item-icon fa-clock"></i></span> {{ courseItem.length | duration }}
                </span>
            </div>

            <div class="btn-group">
                <button type="button"
                        title="Edit course"
                        (click)="editCourse(courseItem.id)"
                        class="btn btn-outline-secondary btn-edit"><i class="fas fa-pen"></i> Edit</button>
                <button type="button"
                        title="Remove course"
                        (click)="deleteCourse(courseItem.id)"
                        class="btn btn-outline-secondary btn-delete"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
