<div class="card course-item"
     [appCourseHighlighter]="courseItem.created">
    <div class="card-body" [ngClass]="{'top-rated': courseItem.topRated}">
        <div class="row">
            <div class="col">
              <h5 class="card-title">{{ courseItem.title | uppercase}}
                  <span class="top-rated-star"><i class="fas fa-star"></i></span>
              </h5>

              <p class="course-item-meta">
                <span class="meta-item">
                  <span class="meta-item-icon"><i class="far fa-calendar-alt"></i></span> {{ courseItem.created | date:'shortDate' }}
                </span>
                <span class="meta-item">
                  <span class="meta-item-icon"><i class="far meta-item-icon fa-clock"></i></span> {{ courseItem.duration | duration }}
                </span>
              </p>
              <p class="card-text">{{ courseItem.description }}</p>
            </div>
            <div class="col-3 text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button"
                            (click)="editCourse(courseItem.id)"
                            class="btn btn-outline-info btn-edit"><i class="fas fa-edit"></i> Edit</button>
                    <button type="button"
                            (click)="deleteCourse(courseItem.id)"
                            class="btn btn-outline-danger btn-delete"><i class="fas fa-trash"></i></button>
                </div>
            </div>
          </div>
    </div>
  </div>
