<form>
    <div class="form-row align-items-center">
        <div class="col input-group">
            <label class="sr-only" for="searchQuery">Search</label>
            <input type="text"
                   id="searchQuery"
                   #searchQuery
                   name="query"
                   class="form-control"
                   [(ngModel)]="query"
                   (click)="clearPlaceholder()"
                   (placeholder)="placeHolderText"/>
            <div class="input-group-append" *ngIf="isSearchPerformed">
                <button type="button" id="reset-button"
                        class="btn btn-outline-secondary"
                        (click)="resetSearch()">Reset search
                </button>
            </div>
        </div>
    </div>
</form>
