<div class="logo-pane">
  <app-logo></app-logo>
</div>

<div class="container">
  <form [formGroup]="loginForm"
        (ngSubmit)="doLogin()"
        class="form-signin">

    <div class="card text-white bg-danger access-denied" *ngIf="isAccessDenied">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ban"></i> Access denied</h5>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail">Email address <span class="required"><i class="fas fa-asterisk"></i></span></label>
      <input type="email"
             formControlName="login"
             name="login"
             id="inputEmail"
             class="form-control"
             required
             autofocus="">
      <small id="emailHelp" class="form-text text-muted">Use <strong>{{userCreds.login}}</strong> for user</small>

      <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger">
        <div *ngIf="login.errors['required']">Login is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword">Password <span class="required"><i class="fas fa-asterisk"></i></span></label>
      <input type="password"
             formControlName="password"
             name="password"
             id="inputPassword"
             class="form-control">
      <small id="passwordHelp" class="form-text text-muted">... and <strong>{{userCreds.password}}</strong> for
        password.
      </small>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors['required']">Password is required.</div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
  </form>

</div>
