/* Logo */
.logo-pane {
   background-color: #B8312F;
   text-align: center;
   padding: 2em 0;
}

/* Sign-in Form */
.form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: 7em auto;
}

/* Access Denied */
.access-denied {
  margin: 1em 0;
}
.access-denied .card-body {
  padding: .7em 1.25rem;
}

.access-denied .card-title {
  margin: 0;
}
