<div class="card course-item">
    <div class="card-body">
        <div class="row">
            <div class="col">
              <h5 class="card-title"><a href="#">{{ courseItem.title }}</a></h5>
              
              <p class="course-item-meta">
                <span class="meta-item">
                  <span class="meta-item-icon"><i class="far fa-calendar-alt"></i></span> {{ courseItem.created | date:'shortDate' }}
                </span>
                <span class="meta-item">
                  <span class="meta-item-icon"><i class="far meta-item-icon fa-clock"></i></span> {{ courseItem.duration }}
                </span>
              </p>
              <p class="card-text">{{ courseItem.description }}</p>
            </div>
            <div class="col-3 text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-info"><i class="fas fa-edit"></i> Edit</button>
                    <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete</button>
                </div>
            </div>
          </div>
    </div>
  </div>
