<div class="row">
    <div class="col-4">
        <form [formGroup]="durationForm">
        <div class="input-group">
            <input type="text"
                   formControlName="length"
                   appValidDurationValidator
                   class="form-control form-element"
                   id="inputDuration">
            <div class="input-group-append">
                <span class="input-group-text">{{ length.value | duration }}</span>
            </div>
        </div>
        </form>
    </div>
</div>
