<hr>
<div class="clearfix">
    <div class="page-info float-left">Page: {{pageNumber}}</div>
    <div class="text-center">

        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary"
                    [disabled]="(isLoading$ | async) || (pageNumber === 1)"
                    (click)="changePage(true)">
                <i class="fas fa-angle-left"></i> Prev
            </button>
            <button type="button" class="btn btn-secondary"
                    [disabled]="(isLoading$ | async) || noMoreItems"
                    (click)="changePage()">
                Next <i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</div>
