<hr>
<div class="clearfix">
  <div class="page-info float-left">Page: {{pageNumber}}</div>
  <div class="text-center">
    <button type="button" *ngIf="!noMoreItems" class="btn btn-outline-secondary" (click)="loadMore()">
      <i class="fas fa-spinner fa-spin" [hidden]="!inProgress"></i>
      <span [hidden]="inProgress">Load More...</span>
    </button>

    <div class="no-more-items" *ngIf="noMoreItems" role="alert">
      <i class="far fa-frown-open"></i> No more items to load...
    </div>
  </div>
</div>
