<form [formGroup]="dateForm">
    <label for="inputDate">Creation date</label>
    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
        <div *ngIf="date.errors['required']">Date is required.</div>
        <div *ngIf="date.errors['validNumber']">{{date.errors['validNumber']}}</div>
    </div>
    <input type="text"
           formControlName="date"
           id="inputDate"
           appValidDate
           mask="00/00/0000"
           class="form-control">
</form>

<div class="alert alert-secondary" role="alert">
    <pre>Date Field validity - {{ date.valid | json }}</pre>
    <hr>
    <pre>Date Field validity - {{ date.errors | json }}</pre>
</div>