@import url('https://fonts.googleapis.com/css?family=Montserrat:900i');

.global-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F34646;
  z-index: 2;
}

.loader-hidden {
  display: none;
}

.global-loader-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader-image {
  display: block;
}

.loader-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #fff;
}
